body {
    font-family: Calibri, sans-serif;
    background-color: #F3F6EB;
    color: #003300;
}

a {
    color: #085508;
}

#page-wrap {
    width: 80%;
    min-width: 700px;
    background-color: #cc6600;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;

    border: 1px solid #696;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: #666 0px 2px 3px;
    -moz-box-shadow: #666 0px 2px 3px;
    box-shadow: #666 0px 2px 3px;
    background: #F3F8F3;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F3F8F3), to(#EDFFD9));
    background: -webkit-linear-gradient(#F3F8F3, #EDFFD9);
    background: -moz-linear-gradient(#F3F8F3, #EDFFD9);
    background: -ms-linear-gradient(#F3F8F3, #EDFFD9);
    background: -o-linear-gradient(#F3F8F3, #EDFFD9);
    background: linear-gradient(#F3F8F3, #EDFFD9);
    opacity:0.8;
}

#page-header {
    margin-bottom: 20px;
}

#page-banner {
    margin-left: auto;
    margin-right: auto;
}

#page-header-banner div {
    display: inline-block;
    vertical-align: middle;
}

#page-header-banner-text {
    font-size: 2em;
    font-weight: bold;
    margin-left: 4px;
    text-decoration: none;
}
#page-header-banner-text a {
    text-decoration: none;
}

#page-header-user {
    position: fixed;

    border-left: 1px solid #555;
    border-right: 1px solid #555;
    border-bottom: 1px solid #555;
    padding: 60px 0;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    -webkit-box-shadow: #666 0px 2px 3px;
    -moz-box-shadow: #666 0px 2px 3px;
    box-shadow: #666 0px 2px 3px;
    background: #B6E0B1;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#B6E0B1), to(#5B8756));
    background: -webkit-linear-gradient(#B6E0B1, #5B8756);
    background: -moz-linear-gradient(#B6E0B1, #5B8756);
    background: -ms-linear-gradient(#B6E0B1, #5B8756);
    background: -o-linear-gradient(#B6E0B1, #5B8756);
    background: linear-gradient(#B6E0B1, #5B8756);

    top: 0px;
    right: 10%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    padding: 4px;
    z-index: 99;
}

#page-header-user-info {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;

    margin-right: 20px;
}

#page-header-user-info span {
    margin: 2px;
}

#page-header-user-cart {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}

#cart-icon {
    position: relative;
    top: 3px;
}

#cart-icon-file {
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
}

#page-menu {
    display: inline-flex;
    width: 100%;
}

.page-menu-item {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-grow: 0;

    padding: 6px;
    border: 2px solid #AAA;
    border-bottom-color: #83AC7F;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 18px;
    -moz-border-top-right-radius: 8px;
    -moz-border-top-left-radius: 18px;
    border-top-right-radius: 8px;
    border-top-left-radius: 18px;
}
.page-menu-item-selected {
    border-bottom: none;
    background: #83AC7F;
    border-color: #83AC7F;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#83AC7F), to(#F3F8ED));
    background: -webkit-linear-gradient(#83AC7F, #F3F8ED);
    background: -moz-linear-gradient(#83AC7F, #F3F8ED);
    background: -ms-linear-gradient(#83AC7F, #F3F8ED);
    background: -o-linear-gradient(#83AC7F, #F3F8ED);
    background: linear-gradient(#83AC7F, #F3F8ED);
}

.page-menu-item a {
    text-decoration: none;
}
.page-menu-item a span {
    font-size: 1.5em;
    padding-top: 2px;
}

.page-menu-icon {
    margin-right: 10px;
    position: relative;
    top: 4px;
}

#page-menu-item-blank {
    border-left: none;
    border-right: none;
    border-top: none;
    flex-shrink: 1;
    flex-grow: 1;
}

#page-menu-item-search {
    border-left: none;
    border-right: none;
    border-top: none;
    width: 200px;
}
#page-menu-item-search input {
    width: 100%;
    padding-left: 8px;
    border: 1px solid #696;
    border-radius:15px; 
    -moz-border-radius:15px; 
    -webkit-border-radius:15px; 

}

#page-content {
    width: 100%;
}

#page-content-head {
    width: 100%;
}
#page-content-body {
    width: 100%;
    display: inline-flex;
    justify-content: flex-start;
    align-items: baseline;
}
#page-content-sidebar {
    flex-grow:0;
    flex-shrink:0;
    /*border: 2px solid #99BB95;
    padding: 5px;
    border-radius:15px; 
    -moz-border-radius:15px; 
    -webkit-border-radius:15px; */
}
#page-content-content {
    flex-basis: 2000px;
    /*border: 2px solid #99BB95;
    padding: 5px;
    border-radius:15px; 
    -moz-border-radius:15px; 
    -webkit-border-radius:15px; */
}

.page-content-breadcrumb {
    display: block;
    font-size: 1.2em;
    padding: 10px;
    background-color: #83AC7F;
    border-radius:20px; 
    -moz-border-radius:20px; 
    -webkit-border-radius:20px; 
}
.page-content-category-list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.page-content-category-item {
    flex-shrink: 0;
    flex-grow: 0;
    margin: 20px;
    position: relative;
}

.page-content-category-item-desc {
    position: absolute;
    bottom: 10%;
    left: 10%;

    font-weight: bold;
    font-size: 1.2em;
}

.page-content-product-title {
    font-size: 1.2em;
    border-bottom: 2px solid #83AC7F;
}
#page-content-product-list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.page-content-product-item {
    display: inline-flex;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 3px;
    min-width: 31.4%;
    /*max-width: 33%;*/
    border: 2px solid #99BB95;
    padding: 5px;
    border-radius:15px; 
    -moz-border-radius:15px; 
    -webkit-border-radius:15px;
}

.page-content-product-item-desc {
    display: inline-block;
    flex-grow: 1;
}
.page-content-product-item-desc .craftsman {
    margin-left: 20px;
}

.cart-add {
    -moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
    -webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
    box-shadow:inset 0px 1px 0px 0px #c1ed9c;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
    background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
    background-color:#9dce2c;
    -webkit-border-top-left-radius:15px;
    -moz-border-radius-topleft:15px;
    border-top-left-radius:15px;
    -webkit-border-top-right-radius:15px;
    -moz-border-radius-topright:15px;
    border-top-right-radius:15px;
    -webkit-border-bottom-right-radius:15px;
    -moz-border-radius-bottomright:15px;
    border-bottom-right-radius:15px;
    -webkit-border-bottom-left-radius:15px;
    -moz-border-radius-bottomleft:15px;
    border-bottom-left-radius:15px;

    border:1px solid #83c41a;
    display:inline-block;
    color:#ffffff;
    font-weight:bold;
    font-style:normal;
    vertical-align: middle;
    padding: 8px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #689324;
    cursor: pointer;
}
.cart-add img {
    vertical-align: sub;
}

.cart-add span {
    margin-right: 5px;
}

.cart-add:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
    background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
    background-color:#8cb82b;
}.cart-add:active {
    position:relative;
    top:1px;
}

#page-footer {
    border-top: 2px solid #83AC7F;
    text-align: center;
}

.tooltip {
    cursor: help;
    display: inline-block;
}
.tooltip img {
    vertical-align: middle;
}

.map-tooltip {
    display: block;
    margin: auto;
}
.table{   
    border-collapse:collapse;
    border:1px solid #000000;
}

.tableHeader{
    text-align:center;
    background:none repeat scroll 0 0 #B5B5B5;
    border-bottom:1px solid #000000;  
    padding:2px;
}

.tableOddRow{
    text-align:center;
    background:none repeat scroll 0 0 #FFFFFF;	
}

.tableEvenRow{
    text-align:center;
    background:none repeat scroll 0 0 #D3D3D3;
}

#wrap {overflow:hidden;}
#sidebar {float:left; width:170px;border: 1px solid #000;}
